@model IEnumerable<GradutionProject.Models.Region>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="container mt-3">
    <div id="view-all2" class="row ">
        @await Html.PartialAsync("ViewAllRegion", Model)
    </div>
</div>