@model IEnumerable<GradutionProject.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="container mt-3">
    <div id="view-all2" class="row ">
        @await Html.PartialAsync("ViewAllCities", Model)
    </div>
</div>

