@model GradutionProject.Models.Post
@{
    ViewData["Title"] = "Posts";
}

<h2>Posts</h2>

<div class="row">
    <div class="col-12" id="postsDiv">

    </div>
</div>
<div class="row">
    <div id="pagesDiv">

    </div>
</div>
<script src="~/lib/jquery/jquery.js"></script>

    
    <script>


    $(document).ready(function() {
        LoadPosts(1);
        LoadPagesCount();
    });

    function LoadPosts(page) {
        $("#postsDiv").text("");

        var page = {
            page: page,
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("LoadPosts", "Districts")",
            data: JSON.stringify(page),
            contentType: "application/json; charset=utf-8",
            success: (response) => {
                if (response !== null && response !== undefined) {
                    for (var i = 0; i < response.length; i++) {
                        var post = response[i];
                        var text = `
                                    <div class="row mt-3" >
                                        <div class="col-3">
                                               <img src="/Img/PostsImgs/fff.png" width="100%" height="100%" />
                                        </div>
                                        <div class="col-9">
                                            <div class="row">
                                                <div class="col-9" style="background-color: grey">
                                                    <h2>${post.post_Id}</h2>
                                                    <h3>${post.post_Title}</h3>
                                                    <h3>${post.post_Desc}</h3>
                                                    <h4>${post.price}</h4>
                                                </div>
                                                <div class="col-3">

                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                        $("#postsDiv").append(text);
                    }
                }
            }
        });

    }



    function LoadPagesCount() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("LoadPagesCount", "Districts")",
            contentType: 'application/json; charset=utf-8;',
            success: function(response) {
                if (response !== null && response !== undefined) {
                    for (var i = 0; i < response; i++) {
                        var text =
                            `<button onclick="btnPageClick(${i+1})" class="btn btn-lg m-1" style="background: azure;border-radius: 10px!important">
                                <h6 style="margin: 1px">  ${i+1}</h6>
                             </button>`;

                        $("#pagesDiv").append(text);
                    }
                }
            },
            error: function() {
            }
        });

    }

    function btnPageClick(page) {
        LoadPosts(page);
    }
    </script>
