
@{
    ViewData["Title"] = "ViewUsers";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-sm-12 ">
    <h3 class="text-center font-weight-bold" style=' color: #4272d7 ;width:"100%"'>Users Table</h3>
    <br />
    <table id="AllUsers" class="table  table-bordered table-hover  text-center  " style="width:100%">
    </table>
</div>

